
/* 
background: radial-gradient(85.9% 85.9% at 50% 14.1%, rgba(41, 48, 61, 0.0001) 0%, #071629 100%), #000000;
background-blend-mode: normal, color; */

@font-face {
	font-family: "source_sans_proregular";
	src: url("/css_advanced/assets/fonts/sourcesanspro-regular-webfont.woff2")
			format("woff2"),
		url("/css_advanced/assets/fonts/sourcesanspro-regular-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "spin_cycle_3d_otregular";
	src: url("/headphones/assets/fonts/spincycle_3d_ot-webfont.woff")
		format("woff");

	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "spin_cycle_otregular";
	src: url("/headphones/assets/fonts/spincycle_ot-webfont.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* DECLARE GLOBAL CSS CLASSES */
.bold {
	font-weight: bolder;
	color: #c271ff;
}
.light {
	font-weight: lighter;
}

.main-button {
	letter-spacing: normal;
	background-color: #ff6565;
	color: white;
	padding: 0.8rem;
	width: 162px;
	margin: 2.2rem;
	margin-bottom: 10rem;
	margin-top: 3rem;
	font-size: 14px;
	font-weight: bold;
	border-radius: 22px;
	box-shadow: 0px 0px 10px rgb(101, 100, 100);
	outline: none;
	border: 0px;
}

.main-button:hover {
	opacity: 0.9;
	color: white;
	box-shadow: 0px 0px 10px rgb(101, 100, 100);
	transition-duration: 0.5s;
}

.main-description {
	letter-spacing: normal;
	line-height: 1.5rem;
	color: white;
	font-size: 16px;
	width: clamp(500px, 637px, 100%);
	padding: 0 1rem;
	font-weight: normal;
	text-align: center;
}

body {
	font-family: "source_sans_proregular";
}

/* STYLING THE HEADER SECTION */
header {
	letter-spacing: 1px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	z-index: 1;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 12rem;
	align-items: center;
	margin: 1rem auto;
	width: 90%;
}

nav img {
	width: auto;
	height: 2rem;
}

nav li {
	padding: 1rem 1rem;
}

ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

li a {
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	padding: 0 5px;
}

a:link,
a:visited {
	color: white;
}

nav a:hover {
	position: relative;
	border-radius: 5px;
	box-shadow: 2px 3px 5px #071629;
	transition-duration: 0.5s;
	color: #ff6565;
	background: white;
}

nav a:active {
	color: #ff6565;
	background-color: white;
	transition-property: background-color, color;
	transition-duration: 0.3s;
}

#main-part {
	letter-spacing: 1.5px;
	position: relative;
	background-image: url(/headphones/assets/images/headphones_hero_1.jpg);
	background-blend-mode: normal, color;
	background-size: cover;
	background-position: center;
	padding-top: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh + 5rem);
}

main > section > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
main > section > div > h1 {
	margin-top: 13rem;
	color: white;
	font-size: 32px;
	font-weight: bold;
}
main > section > div > h1 + p {
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0rem;
}

.first-button {
	margin-bottom: 4rem;
}

/* the exend is a div in the main helping to extend is downwards */
#extend {
	width: 100%;
	height: 5rem;
}

/* styling the #WHAT WE DO ... SECTION */
#what-we-do {
	letter-spacing: normal;
	height: auto;
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 3rem;
	padding: 0 5rem;
}

#what-we-do h2 {
	font: 32px;
	margin-top: 5rem;
}
#what-we-do > div > .second-description {
	letter-spacing: normal;
	line-height: 1.5rem;
	color: black;
	letter-spacing: normal;
	font-size: 16px;
	font-weight: normal;
	width: clamp(500px, 637px, 100%);
	padding: 0 1rem;
	text-align: center;
	margin-top: 5rem;
}

#what-we-do .card-container {
	margin-top: 7rem;
	margin-bottom: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: clamp(0rem, 2rem, 4rem);
	padding: 3rem 0.5rem;
	width: 98vw;
	height: 193px;
}

#what-we-do .card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 207px;
	gap: 3rem;
}

#what-we-do .card img {
	width: 4rem;
}

#what-we-do .card-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

#what-we-do .card p {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.5rem;
	color: 071629;
}

/* STYLING THE OUR RESULT SESSION */

#our-results {
	color: white;
	width: 100%;
	background-color: #071629;
	background-image: url("/headphones/assets/images/headphones_hero_2.jpg");
	background-size: cover;
	background-position: center;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.results-container {
	height: auto;
	width: 100%;
	margin-bottom: 2rem;
}
#our-results > div > h2 {
	margin-top: 7rem;
}

#our-results > div > .third-description {
	letter-spacing: normal;
	line-height: 1.5rem;
	font-size: 16px;
	font-weight: normal;
	width: clamp(500px, 637px, 100%);
	padding: 0 1rem;
	text-align: center;
	margin-top: 5rem;
}

.percent-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: clamp(2rem, 5vw, 7rem);
	padding: 3rem 1rem;
	width: 100%;
}

.percent-card {
	color: white;
	text-align: center;
	background: url("/headphones/assets/images/pentagone.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 190px;
	width: 190px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.percent-card h2 {
	font-size: 46px;
	font-weight: bold;
	margin: 0;
}

.percent-card p {
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/*MAKING IT RESPONSIVE*/
@media screen and (max-width: 768px) {
	nav {
		flex-direction: row;
		justify-content: space-between;
		gap: 1rem;
	}

	nav li {
		padding: 0.5rem;
	}

	li a {
		padding: 0;
	}
	main > section > div > h1 {
		text-align: center;
	}
	main > section > div > h1 + p {
		text-align: center;
	}

	#what-we-do {
		height: auto;
		flex-direction: column;
		align-items: center;
	}
	#what-we-do .card-container {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		height: auto;
		padding-left: 3rem;
		padding-right: 3rem;
		gap: 3rem;
		width: 95vw;
	}

	.percent-container {
		flex-wrap: wrap;
		gap: 5rem;
	}

	#main-part{
		background-position-x: 40%
	}

	.main-description,
	#our-results > div > .third-description,
	#what-we-do > div > .second-description {
		width: clamp(400px, 637px, 100%);
	}

	.footer-container {
		gap: clamp(2rem, 35vw, 100%);
	}
}

@media screen and (max-width: 500px) {
	nav ul li {
		display: none;
	}
	.main-description,
	#our-results > div > .third-description,
	#what-we-do > div > .second-description {
		width: clamp(400px, 637px, 100%);
	}

	.footer-container {
		flex-direction: column;
		gap: 3rem;
	}
}
